
*.slsproj
.settings/com.silabs.ss.framework.ide.project.sls.core.prefs
*.d
*.o
*.mk
*.axf
GNU ARM v12.2.1 - Default/breakout_game.bin
GNU ARM v12.2.1 - Default/breakout_game.hex
GNU ARM v12.2.1 - Default/breakout_game.map
GNU ARM v12.2.1 - Default/breakout_game.out
GNU ARM v12.2.1 - Default/breakout_game.s37
GNU ARM v12.2.1 - Default/makefile
simplicity_sdk_2024.6.2/hardware/board/inc/sl_board_control.h
simplicity_sdk_2024.6.2/hardware/board/inc/sl_board_init.h
simplicity_sdk_2024.6.2/hardware/board/src/sl_board_control_gpio.c
simplicity_sdk_2024.6.2/hardware/board/src/sl_board_init.c
simplicity_sdk_2024.6.2/hardware/driver/configuration_over_swo/inc/sl_cos.h
simplicity_sdk_2024.6.2/hardware/driver/configuration_over_swo/src/sl_cos.c
simplicity_sdk_2024.6.2/hardware/driver/memlcd/inc/memlcd_usart/sl_memlcd_spi.h
simplicity_sdk_2024.6.2/hardware/driver/memlcd/inc/sl_memlcd.h
simplicity_sdk_2024.6.2/hardware/driver/memlcd/src/ls013b7dh03/sl_memlcd_display.h
simplicity_sdk_2024.6.2/hardware/driver/memlcd/src/memlcd_usart/sl_memlcd_spi.c
simplicity_sdk_2024.6.2/hardware/driver/memlcd/src/sl_memlcd.c
simplicity_sdk_2024.6.2/hardware/driver/memlcd/src/sl_memlcd_display.c
simplicity_sdk_2024.6.2/hardware/driver/mx25_flash_shutdown/inc/sl_mx25_flash_shutdown_usart/sl_mx25_flash_shutdown.h
simplicity_sdk_2024.6.2/hardware/driver/mx25_flash_shutdown/src/sl_mx25_flash_shutdown_usart/sl_mx25_flash_shutdown.c
simplicity_sdk_2024.6.2/platform/CMSIS/Core/Include/cmsis_compiler.h
simplicity_sdk_2024.6.2/platform/CMSIS/Core/Include/cmsis_gcc.h
simplicity_sdk_2024.6.2/platform/CMSIS/Core/Include/cmsis_version.h
simplicity_sdk_2024.6.2/platform/CMSIS/Core/Include/core_cm33.h
simplicity_sdk_2024.6.2/platform/CMSIS/Core/Include/mpu_armv8.h
simplicity_sdk_2024.6.2/platform/CMSIS/Core/Include/tz_context.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_assert.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_atomic.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_code_classification.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_common.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_core.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_enum.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_slist.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_status.h
simplicity_sdk_2024.6.2/platform/common/inc/sl_string.h
simplicity_sdk_2024.6.2/platform/common/inc/sli_code_classification.h
simplicity_sdk_2024.6.2/platform/common/src/sl_assert.c
simplicity_sdk_2024.6.2/platform/common/src/sl_core_cortexm.c
simplicity_sdk_2024.6.2/platform/common/src/sl_slist.c
simplicity_sdk_2024.6.2/platform/common/src/sl_string.c
simplicity_sdk_2024.6.2/platform/common/src/sl_syscalls.c
simplicity_sdk_2024.6.2/platform/common/toolchain/inc/sl_gcc_preinclude.h
simplicity_sdk_2024.6.2/platform/common/toolchain/inc/sl_memory.h
simplicity_sdk_2024.6.2/platform/common/toolchain/inc/sl_memory_region.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_aes.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_buram.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_burtc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_cmu.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_cryptoacc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_dcdc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_devinfo.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_dma_descriptor.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_dpll.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_emu.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_eusart.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_fsrco.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_gpcrc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_gpio.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_gpio_port.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_hfrco.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_hfxo.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_i2c.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_iadc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_icache.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_ldma.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_ldmaxbar.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_ldmaxbar_defines.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_letimer.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_lfrco.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_lfxo.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_msc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_pdm.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_prs.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_prs_signals.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_rtcc.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_smu.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_syscfg.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_timer.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_ulfrco.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_usart.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22_wdog.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/efr32mg22c224f512im40.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/em_device.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Include/system_efr32mg22.h
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Source/startup_efr32mg22.c
simplicity_sdk_2024.6.2/platform/Device/SiliconLabs/EFR32MG22/Source/system_efr32mg22.c
simplicity_sdk_2024.6.2/platform/driver/button/inc/sl_button.h
simplicity_sdk_2024.6.2/platform/driver/button/inc/sl_simple_button.h
simplicity_sdk_2024.6.2/platform/driver/button/src/sl_button.c
simplicity_sdk_2024.6.2/platform/driver/button/src/sl_simple_button.c
simplicity_sdk_2024.6.2/platform/driver/debug/inc/sl_debug_swo.h
simplicity_sdk_2024.6.2/platform/driver/debug/src/sl_debug_swo.c
simplicity_sdk_2024.6.2/platform/emdrv/common/inc/ecode.h
simplicity_sdk_2024.6.2/platform/emdrv/dmadrv/inc/dmadrv.h
simplicity_sdk_2024.6.2/platform/emdrv/dmadrv/inc/s2_signals/dmadrv_signals.h
simplicity_sdk_2024.6.2/platform/emdrv/dmadrv/src/dmadrv.c
simplicity_sdk_2024.6.2/platform/emdrv/gpiointerrupt/inc/gpiointerrupt.h
simplicity_sdk_2024.6.2/platform/emdrv/gpiointerrupt/src/gpiointerrupt.c
simplicity_sdk_2024.6.2/platform/emlib/inc/em_assert.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_burtc.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_bus.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_chip.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_cmu.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_cmu_compat.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_common.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_core.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_core_generic.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_emu.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_eusart.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_eusart_compat.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_gpio.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_ldma.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_msc.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_msc_compat.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_ramfunc.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_rtcc.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_syscfg.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_system.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_system_generic.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_timer.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_usart.h
simplicity_sdk_2024.6.2/platform/emlib/inc/em_version.h
simplicity_sdk_2024.6.2/platform/emlib/inc/sli_em_cmu.h
simplicity_sdk_2024.6.2/platform/emlib/src/em_burtc.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_cmu.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_core.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_emu.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_eusart.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_gpio.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_ldma.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_msc.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_rtcc.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_system.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_timer.c
simplicity_sdk_2024.6.2/platform/emlib/src/em_usart.c
simplicity_sdk_2024.6.2/platform/middleware/glib/bmp_conf.h
simplicity_sdk_2024.6.2/platform/middleware/glib/bpmfont.h
simplicity_sdk_2024.6.2/platform/middleware/glib/dmd/display/dmd_memlcd.c
simplicity_sdk_2024.6.2/platform/middleware/glib/dmd/dmd.h
simplicity_sdk_2024.6.2/platform/middleware/glib/em_types.h
simplicity_sdk_2024.6.2/platform/middleware/glib/fonts/glib_font_narrow_6x8.c
simplicity_sdk_2024.6.2/platform/middleware/glib/fonts/glib_font_normal_8x8.c
simplicity_sdk_2024.6.2/platform/middleware/glib/fonts/glib_font_number_16x20.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/bmp.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/bmp.h
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib.h
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_bitmap.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_circle.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_color.h
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_line.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_polygon.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_rectangle.c
simplicity_sdk_2024.6.2/platform/middleware/glib/glib/glib_string.c
simplicity_sdk_2024.6.2/platform/service/clock_manager/inc/sl_clock_manager.h
simplicity_sdk_2024.6.2/platform/service/clock_manager/inc/sl_clock_manager_init.h
simplicity_sdk_2024.6.2/platform/service/clock_manager/inc/sli_clock_manager.h
simplicity_sdk_2024.6.2/platform/service/clock_manager/src/sl_clock_manager.c
simplicity_sdk_2024.6.2/platform/service/clock_manager/src/sl_clock_manager_hal_s2.c
simplicity_sdk_2024.6.2/platform/service/clock_manager/src/sl_clock_manager_init.c
simplicity_sdk_2024.6.2/platform/service/clock_manager/src/sl_clock_manager_init_hal_s2.c
simplicity_sdk_2024.6.2/platform/service/clock_manager/src/sli_clock_manager_hal.h
simplicity_sdk_2024.6.2/platform/service/clock_manager/src/sli_clock_manager_init_hal.h
simplicity_sdk_2024.6.2/platform/service/device_init/inc/sl_device_init_dcdc.h
simplicity_sdk_2024.6.2/platform/service/device_init/inc/sl_device_init_emu.h
simplicity_sdk_2024.6.2/platform/service/device_init/src/sl_device_init_dcdc_s2.c
simplicity_sdk_2024.6.2/platform/service/device_init/src/sl_device_init_emu_s2.c
simplicity_sdk_2024.6.2/platform/service/device_manager/clocks/sl_device_clock_efr32xg22.c
simplicity_sdk_2024.6.2/platform/service/device_manager/devices/sl_device_peripheral_hal_efr32xg22.c
simplicity_sdk_2024.6.2/platform/service/device_manager/inc/sl_device_clock.h
simplicity_sdk_2024.6.2/platform/service/device_manager/inc/sl_device_peripheral.h
simplicity_sdk_2024.6.2/platform/service/device_manager/src/sl_device_clock.c
simplicity_sdk_2024.6.2/platform/service/device_manager/src/sl_device_peripheral.c
simplicity_sdk_2024.6.2/platform/service/interrupt_manager/inc/arm/cmsis_nvic_virtual.h
simplicity_sdk_2024.6.2/platform/service/interrupt_manager/inc/sl_interrupt_manager.h
simplicity_sdk_2024.6.2/platform/service/interrupt_manager/src/sl_interrupt_manager_cortexm.c
simplicity_sdk_2024.6.2/platform/service/interrupt_manager/src/sli_interrupt_manager.h
simplicity_sdk_2024.6.2/platform/service/iostream/inc/sl_iostream.h
simplicity_sdk_2024.6.2/platform/service/iostream/inc/sl_iostream_eusart.h
simplicity_sdk_2024.6.2/platform/service/iostream/inc/sl_iostream_uart.h
simplicity_sdk_2024.6.2/platform/service/iostream/inc/sli_iostream_uart.h
simplicity_sdk_2024.6.2/platform/service/iostream/src/sl_iostream.c
simplicity_sdk_2024.6.2/platform/service/iostream/src/sl_iostream_eusart.c
simplicity_sdk_2024.6.2/platform/service/iostream/src/sl_iostream_retarget_stdio.c
simplicity_sdk_2024.6.2/platform/service/iostream/src/sl_iostream_uart.c
simplicity_sdk_2024.6.2/platform/service/memory_manager/inc/sl_memory_manager_region.h
simplicity_sdk_2024.6.2/platform/service/memory_manager/src/sl_memory_manager_region.c
simplicity_sdk_2024.6.2/platform/service/sleeptimer/inc/sl_sleeptimer.h
simplicity_sdk_2024.6.2/platform/service/sleeptimer/inc/sli_sleeptimer.h
simplicity_sdk_2024.6.2/platform/service/sleeptimer/src/sl_sleeptimer.c
simplicity_sdk_2024.6.2/platform/service/sleeptimer/src/sl_sleeptimer_hal_burtc.c
simplicity_sdk_2024.6.2/platform/service/sleeptimer/src/sl_sleeptimer_hal_prortc.c
simplicity_sdk_2024.6.2/platform/service/sleeptimer/src/sl_sleeptimer_hal_rtcc.c
simplicity_sdk_2024.6.2/platform/service/sleeptimer/src/sl_sleeptimer_hal_timer.c
simplicity_sdk_2024.6.2/platform/service/sleeptimer/src/sli_sleeptimer_hal.h
simplicity_sdk_2024.6.2/platform/service/system/inc/sl_system_init.h
simplicity_sdk_2024.6.2/platform/service/system/inc/sl_system_process_action.h
simplicity_sdk_2024.6.2/platform/service/system/src/sl_system_init.c
simplicity_sdk_2024.6.2/platform/service/system/src/sl_system_process_action.c
simplicity_sdk_2024.6.2/platform/service/udelay/inc/sl_udelay.h
simplicity_sdk_2024.6.2/platform/service/udelay/src/sl_udelay.c
simplicity_sdk_2024.6.2/platform/service/udelay/src/sl_udelay_armv6m_gcc.S
